body {
  margin:0px;
  background-color:rgba(241, 241, 241, 1);
  background-image:none;
  position:static;
  left:auto;
  width:952px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:588px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 242, 245, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6974 {
  position:absolute;
  left:210px;
  top:13px;
  width:742px;
  height:588px;
}
#u6975 {
  position:absolute;
  left:2px;
  top:286px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:700;
  font-style:normal;
  color:#BCBCBC;
}
#u6976 {
  position:absolute;
  left:226px;
  top:24px;
  width:57px;
  height:17px;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:700;
  font-style:normal;
  color:#BCBCBC;
}
#u6977 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:2px;
}
#u6978 {
  position:absolute;
  left:213px;
  top:47px;
  width:725px;
  height:1px;
}
#u6979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:721px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(73, 160, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(73, 160, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u6980 {
  position:absolute;
  left:860px;
  top:21px;
  width:61px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u6981 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u6982 {
  position:absolute;
  left:226px;
  top:61px;
  width:700px;
  height:455px;
}
#u6983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u6983 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u6984 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u6985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u6985 {
  position:absolute;
  left:109px;
  top:0px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u6986 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u6987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u6987 {
  position:absolute;
  left:242px;
  top:0px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u6988 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u6989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u6989 {
  position:absolute;
  left:348px;
  top:0px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u6990 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u6991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u6991 {
  position:absolute;
  left:464px;
  top:0px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u6992 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u6993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u6993 {
  position:absolute;
  left:580px;
  top:0px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u6994 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u6995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u6995 {
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u6996 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u6997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u6997 {
  position:absolute;
  left:109px;
  top:30px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u6998 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u6999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u6999 {
  position:absolute;
  left:242px;
  top:30px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7000 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u7001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7001 {
  position:absolute;
  left:348px;
  top:30px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7002 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7003 {
  position:absolute;
  left:464px;
  top:30px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7004 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7005 {
  position:absolute;
  left:580px;
  top:30px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7006 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7007 {
  position:absolute;
  left:0px;
  top:60px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7008 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7009 {
  position:absolute;
  left:109px;
  top:60px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7010 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7011 {
  position:absolute;
  left:242px;
  top:60px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7012 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7013 {
  position:absolute;
  left:348px;
  top:60px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7014 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7015 {
  position:absolute;
  left:464px;
  top:60px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7016 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7017 {
  position:absolute;
  left:580px;
  top:60px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7018 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7019 {
  position:absolute;
  left:0px;
  top:90px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7020 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7021 {
  position:absolute;
  left:109px;
  top:90px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7022 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7023 {
  position:absolute;
  left:242px;
  top:90px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7024 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7025 {
  position:absolute;
  left:348px;
  top:90px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7026 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7027 {
  position:absolute;
  left:464px;
  top:90px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7028 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7029 {
  position:absolute;
  left:580px;
  top:90px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7030 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7031 {
  position:absolute;
  left:0px;
  top:120px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7032 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7033 {
  position:absolute;
  left:109px;
  top:120px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7034 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7035 {
  position:absolute;
  left:242px;
  top:120px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7036 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7037 {
  position:absolute;
  left:348px;
  top:120px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7038 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7039 {
  position:absolute;
  left:464px;
  top:120px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7040 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7041 {
  position:absolute;
  left:580px;
  top:120px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7042 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7043 {
  position:absolute;
  left:0px;
  top:150px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7044 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7045 {
  position:absolute;
  left:109px;
  top:150px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7046 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7047 {
  position:absolute;
  left:242px;
  top:150px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7048 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7049 {
  position:absolute;
  left:348px;
  top:150px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7050 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7051 {
  position:absolute;
  left:464px;
  top:150px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7052 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7053 {
  position:absolute;
  left:580px;
  top:150px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7054 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7055 {
  position:absolute;
  left:0px;
  top:180px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7056 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7057 {
  position:absolute;
  left:109px;
  top:180px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7058 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7059 {
  position:absolute;
  left:242px;
  top:180px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7060 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7061 {
  position:absolute;
  left:348px;
  top:180px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7062 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7063 {
  position:absolute;
  left:464px;
  top:180px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7064 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7065 {
  position:absolute;
  left:580px;
  top:180px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7066 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7067 {
  position:absolute;
  left:0px;
  top:210px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7068 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7069 {
  position:absolute;
  left:109px;
  top:210px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7070 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7071 {
  position:absolute;
  left:242px;
  top:210px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7072 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7073 {
  position:absolute;
  left:348px;
  top:210px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7074 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7075 {
  position:absolute;
  left:464px;
  top:210px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7076 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7077 {
  position:absolute;
  left:580px;
  top:210px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7078 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7079 {
  position:absolute;
  left:0px;
  top:240px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7080 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7081 {
  position:absolute;
  left:109px;
  top:240px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7082 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7083 {
  position:absolute;
  left:242px;
  top:240px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7084 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7085 {
  position:absolute;
  left:348px;
  top:240px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7086 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7087 {
  position:absolute;
  left:464px;
  top:240px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7088 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7089 {
  position:absolute;
  left:580px;
  top:240px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7090 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7091 {
  position:absolute;
  left:0px;
  top:270px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7092 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7093 {
  position:absolute;
  left:109px;
  top:270px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7094 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7095 {
  position:absolute;
  left:242px;
  top:270px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7096 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7097 {
  position:absolute;
  left:348px;
  top:270px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7098 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7099 {
  position:absolute;
  left:464px;
  top:270px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7100 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7101 {
  position:absolute;
  left:580px;
  top:270px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7102 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7103 {
  position:absolute;
  left:0px;
  top:300px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7104 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u7105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7105 {
  position:absolute;
  left:109px;
  top:300px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7106 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u7107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7107 {
  position:absolute;
  left:242px;
  top:300px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7108 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u7109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7109 {
  position:absolute;
  left:348px;
  top:300px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7110 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7111 {
  position:absolute;
  left:464px;
  top:300px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7112 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7113 {
  position:absolute;
  left:580px;
  top:300px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7114 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u7115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7115 {
  position:absolute;
  left:0px;
  top:330px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7116 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u7117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7117 {
  position:absolute;
  left:109px;
  top:330px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7118 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u7119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7119 {
  position:absolute;
  left:242px;
  top:330px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7120 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u7121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7121 {
  position:absolute;
  left:348px;
  top:330px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7122 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7123 {
  position:absolute;
  left:464px;
  top:330px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7124 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7125 {
  position:absolute;
  left:580px;
  top:330px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7126 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u7127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7127 {
  position:absolute;
  left:0px;
  top:360px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7128 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u7129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7129 {
  position:absolute;
  left:109px;
  top:360px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7130 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u7131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7131 {
  position:absolute;
  left:242px;
  top:360px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7132 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u7133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7133 {
  position:absolute;
  left:348px;
  top:360px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7134 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7135 {
  position:absolute;
  left:464px;
  top:360px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7136 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7137 {
  position:absolute;
  left:580px;
  top:360px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7138 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u7139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7139 {
  position:absolute;
  left:0px;
  top:390px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7140 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u7141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7141 {
  position:absolute;
  left:109px;
  top:390px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7142 {
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u7143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7143 {
  position:absolute;
  left:242px;
  top:390px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7144 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u7145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7145 {
  position:absolute;
  left:348px;
  top:390px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7146 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7147 {
  position:absolute;
  left:464px;
  top:390px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7148 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u7149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7149 {
  position:absolute;
  left:580px;
  top:390px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7150 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u7151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u7151 {
  position:absolute;
  left:0px;
  top:420px;
  width:109px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7152 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u7153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u7153 {
  position:absolute;
  left:109px;
  top:420px;
  width:133px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7154 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u7155 {
  position:absolute;
  left:242px;
  top:420px;
  width:106px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7156 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7157 {
  position:absolute;
  left:348px;
  top:420px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7158 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u7159 {
  position:absolute;
  left:464px;
  top:420px;
  width:116px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7160 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7161 {
  position:absolute;
  left:580px;
  top:420px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u7162 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u7163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u7163 {
  position:absolute;
  left:226px;
  top:92px;
  width:109px;
  height:91px;
  color:#BCBCBC;
}
#u7164 {
  position:absolute;
  left:2px;
  top:38px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u7165 {
  position:absolute;
  left:334px;
  top:92px;
  width:135px;
  height:91px;
  color:#BCBCBC;
}
#u7166 {
  position:absolute;
  left:2px;
  top:38px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u7167 {
  position:absolute;
  left:468px;
  top:92px;
  width:106px;
  height:91px;
  color:#BCBCBC;
}
#u7168 {
  position:absolute;
  left:2px;
  top:38px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u7169 {
  position:absolute;
  left:805px;
  top:91px;
  width:116px;
  height:92px;
  color:#BCBCBC;
}
#u7170 {
  position:absolute;
  left:2px;
  top:38px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7171 {
  position:absolute;
  left:251px;
  top:126px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u7172 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7173 {
  position:absolute;
  left:353px;
  top:126px;
  width:113px;
  height:16px;
  color:#A1A1A1;
}
#u7174 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7175 {
  position:absolute;
  left:511px;
  top:126px;
  width:17px;
  height:16px;
  color:#A1A1A1;
}
#u7176 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7177 {
  position:absolute;
  left:856px;
  top:126px;
  width:17px;
  height:16px;
  color:#A1A1A1;
}
#u7178 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u7179 {
  position:absolute;
  left:226px;
  top:181px;
  width:109px;
  height:91px;
  color:#BCBCBC;
}
#u7180 {
  position:absolute;
  left:2px;
  top:38px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u7181 {
  position:absolute;
  left:334px;
  top:181px;
  width:135px;
  height:91px;
  color:#BCBCBC;
}
#u7182 {
  position:absolute;
  left:2px;
  top:38px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u7183 {
  position:absolute;
  left:468px;
  top:181px;
  width:106px;
  height:91px;
  color:#BCBCBC;
}
#u7184 {
  position:absolute;
  left:2px;
  top:38px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7185 {
  position:absolute;
  left:250px;
  top:218px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u7186 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7187 {
  position:absolute;
  left:352px;
  top:218px;
  width:113px;
  height:16px;
  color:#A1A1A1;
}
#u7188 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7189 {
  position:absolute;
  left:511px;
  top:218px;
  width:17px;
  height:16px;
  color:#A1A1A1;
}
#u7190 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u7191 {
  position:absolute;
  left:805px;
  top:181px;
  width:116px;
  height:92px;
  color:#BCBCBC;
}
#u7192 {
  position:absolute;
  left:2px;
  top:38px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7193 {
  position:absolute;
  left:856px;
  top:218px;
  width:17px;
  height:16px;
  color:#A1A1A1;
}
#u7194 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u7195 {
  position:absolute;
  left:226px;
  top:271px;
  width:109px;
  height:91px;
  color:#BCBCBC;
}
#u7196 {
  position:absolute;
  left:2px;
  top:38px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u7197 {
  position:absolute;
  left:334px;
  top:271px;
  width:135px;
  height:91px;
  color:#BCBCBC;
}
#u7198 {
  position:absolute;
  left:2px;
  top:38px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u7199 {
  position:absolute;
  left:468px;
  top:271px;
  width:106px;
  height:91px;
  color:#BCBCBC;
}
#u7200 {
  position:absolute;
  left:2px;
  top:38px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7201 {
  position:absolute;
  left:267px;
  top:307px;
  width:29px;
  height:16px;
  color:#A1A1A1;
}
#u7202 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7203 {
  position:absolute;
  left:350px;
  top:307px;
  width:113px;
  height:16px;
  color:#A1A1A1;
}
#u7204 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7205 {
  position:absolute;
  left:511px;
  top:307px;
  width:17px;
  height:16px;
  color:#A1A1A1;
}
#u7206 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u7207 {
  position:absolute;
  left:805px;
  top:271px;
  width:116px;
  height:92px;
  color:#BCBCBC;
}
#u7208 {
  position:absolute;
  left:2px;
  top:38px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7209 {
  position:absolute;
  left:857px;
  top:307px;
  width:17px;
  height:16px;
  color:#A1A1A1;
}
#u7210 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:597px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(238, 242, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7211 {
  position:absolute;
  left:10px;
  top:13px;
  width:176px;
  height:597px;
}
#u7212 {
  position:absolute;
  left:2px;
  top:290px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:187px;
}
#u7213 {
  position:absolute;
  left:20px;
  top:19px;
  width:159px;
  height:187px;
}
#u7214 {
  position:absolute;
  left:2px;
  top:86px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:2px;
}
#u7215 {
  position:absolute;
  left:10px;
  top:270px;
  width:176px;
  height:1px;
}
#u7216 {
  position:absolute;
  left:2px;
  top:-8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:2px;
}
#u7217 {
  position:absolute;
  left:11px;
  top:230px;
  width:176px;
  height:1px;
}
#u7218 {
  position:absolute;
  left:2px;
  top:-8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u7219 {
  position:absolute;
  left:59px;
  top:240px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#949494;
}
#u7220 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:2px;
}
#u7221 {
  position:absolute;
  left:11px;
  top:310px;
  width:176px;
  height:1px;
}
#u7222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:2px;
}
#u7223 {
  position:absolute;
  left:11px;
  top:350px;
  width:176px;
  height:1px;
}
#u7224 {
  position:absolute;
  left:2px;
  top:-8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:2px;
}
#u7225 {
  position:absolute;
  left:10px;
  top:390px;
  width:176px;
  height:1px;
}
#u7226 {
  position:absolute;
  left:2px;
  top:-8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
}
#u7227 {
  position:absolute;
  left:59px;
  top:280px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
}
#u7228 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:2px;
}
#u7229 {
  position:absolute;
  left:9px;
  top:430px;
  width:176px;
  height:1px;
}
#u7230 {
  position:absolute;
  left:2px;
  top:-8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:2px;
}
#u7231 {
  position:absolute;
  left:9px;
  top:470px;
  width:176px;
  height:1px;
}
#u7232 {
  position:absolute;
  left:2px;
  top:-8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:2px;
}
#u7233 {
  position:absolute;
  left:9px;
  top:510px;
  width:176px;
  height:1px;
}
#u7234 {
  position:absolute;
  left:2px;
  top:-8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:2px;
}
#u7235 {
  position:absolute;
  left:10px;
  top:550px;
  width:176px;
  height:1px;
}
#u7236 {
  position:absolute;
  left:2px;
  top:-8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u7237 {
  position:absolute;
  left:59px;
  top:320px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u7238 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u7239 {
  position:absolute;
  left:59px;
  top:360px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u7240 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u7241 {
  position:absolute;
  left:59px;
  top:400px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u7242 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u7243 {
  position:absolute;
  left:59px;
  top:440px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u7244 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u7245 {
  position:absolute;
  left:59px;
  top:482px;
  width:57px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u7246 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
