<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="视频拖拽日志">
            <div class="back-pos">
                <button class="btn btn-info" ng-click="back()">返回</button>
            </div>
            <div class="horizontal-scroll">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">序号</th>
                        <th class="text-center">拖拽前位置</th>
                        <th class="text-center">拖拽前时间</th>
                        <th class="text-center">拖拽后位置</th>
                        <th class="text-center">拖拽后时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in tableData">
                        <td class="text-center">{{ item.id }}</td>
                        <td class="text-center">{{ item.beforePos }}</td>
                        <td class="text-center">{{ item.beforeTime }}</td>
                        <td class="text-center">{{ item.afterPos }}</td>
                        <td class="text-center">{{ item.afterTime }}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="text-center" colspan="5">
                            <paging class="small pagination"
                                    page="page.current"
                                    page-size="page.pageSize"
                                    total="page.total"
                                    scroll-top="false"
                                    hide-if-empty="true"
                                    show-prev-next="true"
                                    page-action="changePage(page)"></paging>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>