<div class="row">
    <div class="col-md-12" ba-panel ba-panel-title="成绩分布" id="gradeType">
        <div class="grade-type">
            <div class="col-md-6">
                <div id="sortScore" style="width: 100%; height: 300px;"></div>
            </div>
            <div class="col-md-6">
                <div ba-panel>
                    <div class="horizontal-scroll">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center">序号</th>
                                <th class="text-center">分数范围</th>
                                <th class="text-center">人数</th>
                                <th class="text-center">占比</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in gradeSortTableData">
                                <td class="text-center">{{ $index + 1 }}</td>
                                <td class="text-center">{{ item.name }}</td>
                                <td class="text-center">{{ item.value }}</td>
                                <td class="text-center">{{ item.percent }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center none-data" hidden>暂时没有数据...</div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 student-grade log-show">
        <div ba-panel ba-panel-title="学生统计" id="countTable">
            <ul class="log-nav" style="right: 0px;top: 5px;">
                <div class="form-group col-sm-5 col-xs-6">
                    <input type="number" ng-model="scoreStart" class="form-control" id="scoreStart" placeholder="起始分数">
                </div>
                <div class="form-group col-sm-5 col-xs-6">
                    <input type="number" class="form-control" id="scoreEnd" placeholder="结束分数" ng-model="scoreEnd">
                </div>
                <div class="form-group col-sm-2 col-xs-6">
                    <input type="button" style="margin-top:3px;padding: 4px 15px" class="btn btn-info btn-sm" value="查询" ng-click="filtrate(scoreStart, scoreEnd)">
                </div>
            </ul>
            <div class="horizontal-scroll">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">姓名</th>
                        <th class="text-center">课程成绩</th>
                        <th class="text-center">排名</th>
                        <!--<th class="text-center">操作</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in tableData">
                        <td class="text-center">{{ item.id }}</td>
                        <td class="text-center">{{ item.name }}</td>
                        <td class="text-center">{{ item.grade }}</td>
                        <td class="text-center">{{ item.number }}</td>
                        <!--<td class="text-center">-->
                            <!--<button ui-sref="gradeInfo({courseId: courseId})" class="btn btn-info status-button btn-xs">查看明细</button>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7" class="text-center">
                            <paging class="small pagination"
                                    page="page.currentPage"
                                    page-size="page.pageSize"
                                    total="page.total"
                                    scroll-top="false"
                                    hide-if-empty="true"
                                    show-prev-next="true"
                                    paging-action="changePage(page)">
                            </paging>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="text-center none-data" hidden>暂时没有数据...</div>
        </div>
    </div>
</div>

