<div class="row pie-charts">
    <div class="pie-chart-item-container" id="sexNum" ng-repeat="chart in baseNum">
        <div ba-panel class="sex-num">
            <div class="pie-chart-item">
                <div class="chart" rel="{{ ::chart.color }}" data-percent="60"><span class="percent"></span></div>
                <div class="description">
                    <div>{{ ::chart.description }}</div>
                    <div class="description-stats">{{ ::chart.stats }}</div>
                </div>
                <i class="chart-icon i-{{ ::chart.icon }}" style="display: block"></i>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 log-show" id="countTable">
        <div ba-panel ba-panel-title="学生统计" ba-panel-class="with-scroll table-panel">
            <ul class="log-nav">
                <li class="log-slide" ng-class="{true:'active',false:''}[logNav==$index]" ng-click="filtrate($index)" ng-repeat="item in dateList">
                    <a href="javascript:;">{{ item }}</a>
                </li>
            </ul>
            <div class="horizontal-scroll">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">课程名称</th>
                        <th class="text-center">学生数</th>
                        <th class="text-center">学习时长</th>
                        <th class="text-center">浏览次数</th>
                        <th class="text-center">平均学习时长</th>
                        <th class="text-center">平均浏览次数</th>
                        <th class="text-center">平均课程进度</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in peopleTableData">
                        <td class="text-center">{{ item.id }}</td>
                        <td class="courseName pointer" title="{{item.name}}">{{ item.name }}</td>
                        <td class="text-center">{{ item.stuNum }}</td>
                        <td class="text-center">{{ item.studyTime }}</td>
                        <td class="text-center">{{ item.lookNum }}</td>
                        <td class="text-center">{{ item.studyTimeAvg }}</td>
                        <td class="text-center">{{ item.lookNumAvg }}</td>
                        <td class="text-center">{{ item.progressAvg }}</td>
                        <td class="text-center">
                            <button ui-sref="studentInfo({courseId:item.courseId})" class="status-button btn btn-xs btn-info">查看详情</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <paging class="small pagination"
                                    page="page.currentPage"
                                    page-size="page.pageSize"
                                    total="page.total"
                                    scroll-top="false"
                                    hide-if-empty="true"
                                    show-prev-next="true"
                                    paging-action="changePage(page)">
                            </paging>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="text-center none-data" hidden>暂时没有数据...</div>
        </div>
    </div>
</div>