<div class="row pie-charts">
    <div class="pie-chart-item-container" ng-repeat="chart in Charts" style="width: 33.3333333%;">
        <div ba-panel>
            <div class="pie-chart-item">
                <div class="description">
                    <div>{{ ::chart.description }}</div>
                    <div class="description-stats">{{ ::chart.stats }}</div>
                </div>
                <i class="chart-icon i-{{ ::chart.icon }}" style="display: block"></i>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 log-show" ba-panel ba-panel-title="成绩统计" id="countTable">
        <ul class="log-nav" style="right: 80px;">
            <li class="log-slide" ng-class="{true:'active',false:''}[logNav==$index]" ng-click="filtrate($index)" ng-repeat="item in dateList">
                <a href="javascript:;">{{ item }}</a>
            </li>
        </ul>
        <div class="horizontal-scroll">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td class="text-center">ID</td>
                    <td class="text-center">课程名称</td>
                    <td class="text-center">总人数</td>
                    <td class="text-center">最高分</td>
                    <td class="text-center">最低分</td>
                    <td class="text-center">平均分</td>
                    <td class="text-center">操作</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in tableData">
                    <td class="text-center">{{ item.id }}</td>
                    <td class="courseName pointer" title="{{ item.name }}"><h5 class="course">{{ item.name }}</h5></td>
                    <td class="text-center">{{ item.peopleNum }}</td>
                    <td class="text-center">{{ item.gradeHeightest }}</td>
                    <td class="text-center">{{ item.gradeLowest }}</td>
                    <td class="text-center">{{ item.gradeAverage }}</td>
                    <td class="text-center">
                        <button ui-sref="countGradeInfo({courseId:item.courseId})" class="btn btn-info status-button btn-xs">查看详情</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <paging class="small pagination"
                                page="page.currentPage"
                                page-size="page.pageSize"
                                total="page.total"
                                scroll-top="false"
                                hide-if-empty="true"
                                show-prev-next="true"
                                paging-action="changePage(page)">
                        </paging>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="text-center none-data" hidden>暂时没有数据...</div>
    </div>
</div>