<homework-nav nav="1"></homework-nav>

<!--<div class="row" id="homeworkAnalyze">-->
    <!--<div class="col-col-12">-->
        <!--&lt;!&ndash;难度分布&ndash;&gt;-->
        <!--<div class="col-md-6" ba-panel ba-panel-title="难度分布" ba-panel-class="medium-panel traffic-panel">-->
            <!--<div id="sortDiff" style="width: 85%; height: 300px;"></div>-->
        <!--</div>-->
        <!--&lt;!&ndash;题型分布&ndash;&gt;-->
        <!--<div class="col-md-6" ba-panel ba-panel-title="题型分布" ba-panel-class="medium-panel">-->
            <!--<div id="typeSort"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="row">
    <div class="col-md-12" id="sortGrade">
        <div ba-panel ba-panel-title="分数分布">
            <div class="grade-type">
                <div class="col-md-6">
                    <div id="sortScore" style="width: 100%; height: 350px;"></div>
                </div>
                <div class="col-md-6">
                    <div ba-panel>
                        <div class="horizontal-scroll">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center">序号</th>
                                    <th class="text-center">分数范围</th>
                                    <th class="text-center">人数</th>
                                    <th class="text-center">占比</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in gradeSortTableData">
                                    <td class="text-center">{{ $index + 1 }}</td>
                                    <td class="text-center">{{ item.name }}</td>
                                    <td class="text-center">{{ item.value }}</td>
                                    <td class="text-center">{{ item.percent }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center none-data" hidden>暂时没有数据...</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 student-grade log-show">
        <div ba-panel ba-panel-title="学生统计" id="countTable">
            <ul class="log-nav">
                <li class="log-slide" ng-class="{true:'active',false:''}[logNav==$index]" ng-click="filtrate($index)" ng-repeat="item in dateList">
                    <a href="javascript:;">{{ item }}</a>
                </li>
            </ul>
            <div class="horizontal-scroll">
                <table class="table table-hover" st-table="studentGradeTableData">
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">姓名</th>
                        <th class="text-center">作答次数</th>
                        <th class="text-center">最高分</th>
                        <th class="text-center">最低分</th>
                        <th class="text-center">平均分</th>
                        <th class="text-center">状态</th>
                        <!--<th class="text-center">操作</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in tableData">
                        <td class="text-center">{{ item.id }}</td>
                        <td class="text-center">{{ item.name }}</td>
                        <td class="text-center">{{ item.answerNum }}</td>
                        <td class="text-center">{{ item.heightest }}</td>
                        <td class="text-center">{{ item.lowest }}</td>
                        <td class="text-center">{{ item.average }}</td>
                        <td class="text-center">{{ item.status }}</td>
                        <!--<td class="text-center">-->
                            <!--<button ng-show="item.status=='已作答'" ui-sref="logAnswer({courseId:courseId,homeworkId:homeworkId})" class="btn btn-info btn-xs">查看作答记录</button>-->
                            <!--<button ng-hide="item.status=='已作答'" class="btn btn-default btn-xs">查看作答记录</button>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8" class="text-center">
                            <paging class="small pagination"
                                    page="page.currentPage"
                                    page-size="page.pageSize"
                                    total="page.total"
                                    scroll-top="false"
                                    hide-if-empty="true"
                                    show-prev-next="true"
                                    paging-action="changePage(page)">
                            </paging>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="text-center none-data" hidden>暂时没有数据...</div>
        </div>
    </div>
</div>

