<div class="row">
    <div class="col-md-12">
        <div class="tab-mine">
            <button class="btn btn-info back" ui-sref="countHomeworkInfo({courseId:courseId,homeworkId:homeworkId})">返回</button>
            <button ng-repeat="item in titleList" class="btn ml15"
                    ng-class="{true: 'btn-success', false: 'btn-default'}[nav==$index]"
                    ng-click="getPaper($index)">{{ item }}
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ba-panel>
            <h4 class="text-center">李子木作答记录</h4>
            <p class="text-center">成绩：<span>98</span> | 耗时：<span>200s</span></p>
            <ul class="exam">
                <li class="exam-slide">
                    <p class="ask">1、什么是幸福？</p>
                    <ul>
                        <li class="answer-list"><span>A、</span><span>猫吃鱼</span></li>
                        <li class="answer-list"><span>B、</span><span>狗吃肉</span></li>
                        <li class="answer-list"><span>C、</span><span>奥特曼打小怪兽</span></li>
                    </ul>
                    <div>
                        <p class="answer">
                            <span class="result">正确答案：</span><span class="bold">A</span>
                            <span class="ml30">学生答案：</span><span class="bold">B</span>
                            <span class="ml30">本题耗时：</span><span class="bold">40s</span>
                        </p>
                    </div>
                    <div class="icon">
                        <img src="assets/img/error.svg" alt="right">
                    </div>
                </li>
                <li class="exam-slide">
                    <p class="ask">2、什么是幸福？</p>
                    <ul>
                        <li class="answer-list"><span>A、</span><span>猫吃鱼</span></li>
                        <li class="answer-list"><span>B、</span><span>狗吃肉</span></li>
                        <li class="answer-list"><span>C、</span><span>奥特曼打小怪兽</span></li>
                    </ul>
                    <div>
                        <p class="answer">
                            <span class="result">正确答案：</span><span class="bold">A</span>
                            <span class="ml30">学生答案：</span><span class="bold">A</span>
                            <span class="ml30">本题耗时：</span><span class="bold">40s</span>
                        </p>
                    </div>
                    <div class="icon">
                        <img src="assets/img/right.svg" alt="icon">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>